<div class="example-container">
  <h2>Używane transformacje</h2>
  <button (click)="onRandom()">Losuj</button>
  <button (click)="onSave()">Zapisz</button>
  <div
    cdkDropList
    #usedList="cdkDropList"
    [cdkDropListData]="used"
    [cdkDropListConnectedTo]="[notUsedList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of used" cdkDrag>{{item.text}}</div>
  </div>
</div>

<div class="example-container">
  <h2>Nieużywane transfomracje</h2>

  <div
    cdkDropList
    #notUsedList="cdkDropList"
    [cdkDropListData]="notUsed"
    [cdkDropListConnectedTo]="[usedList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of notUsed" cdkDrag>{{item.text}}</div>
  </div>
</div>
